<h1>Edit new item</h1>

<%= form_for @item do |f| %>
<! Чтобы создать нашу форму, мы воспользуемся метоодом form_for, передаем ему объект Item.new
   т.е. form_for знает, что для этого объекта мы создаем форму. 
   * C помощью @item все поля будут уже заполнены.>

	<p>Цена: <br/><%= f.text_field :price %></p>
  <! Вывод текста с помощью .text_field>
	<p>Название: <br/><%= f.text_field :name %></p>
	<p>Описание: <br/><%= f.text_field :description %></p>
	<p>Вес: <br/><%= f.text_field :weight %></p>
	
	<p><%= f.submit "Сохранить товар" %></p>
  <! Создаем кнопку с помощью .submit>

<% end %>
<! завершаем наш блок>

